/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: black;
}

header{
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #1e1e1e;
    color: white;
}

main{
    color: white;
    height: calc( 100vh - 120px);
    margin: 70px auto 0;
}

header nav{
    height: 100%;

}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

i{
    font-size: 20px;
}

footer{
    position: fixed;
    top: 0;
    right: 5px;
    height: 50px;
}

.flex{
    display: flex;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.relative-position{
    position: relative;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.centered-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-btn{
    height: 100%;
    background-color: #545454;
    text-align: center;
    color: red;
}

div.cover{
    width: 280px;
    height: 185px;
}

div.cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.muted-logo{
    position: absolute;
    background-color: #4a4a4a;
    left: 0;
    bottom: 0;
}


header nav ul li{
    margin-right: 15px;
    text-align: center;
}

ul.upper-logo li{
    background-color: #4a4a4a;
    margin-left: 15px;
    margin-top: 5px;
    padding: 3px;
    border-radius: 3px;
}



