
/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    background-color: black;
}

header{
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #1e1e1e;
    color: white;
}

header nav{
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

i{
    font-size: 20px;
}

img{
    height: 120px;
    width: 170px;
}

.flex{
    display: flex;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.relative-position{
    position: relative;
}

.main-container{
    height: calc( 100vh - 100px);
    max-width: 1200px;
    margin: 0 auto;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.centered-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-btn{
    height: 100%;
    background-color: #545454;
    text-align: center;
    color: red;
}

.card-cover{
    height: calc( 100% / 5);
    width: calc( 1200px / 7);
}

/*.muted-logo{
    position: absolute;
    background-color: grey;
    opacity: 0.6;
    left: 0;
    bottom: 0;
}*/

header nav ul li{
    margin-right: 15px;
    text-align: center;
}



