
/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

header{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #1e1e1e;
    color: white;
}

header nav{
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

i{
    font-size: 35px;
}

.flex{
    display: flex;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.container{
    margin: 0 auto;
}
.centered-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.end-btn{
    height: 100%;
    background-color: #212021;
    text-align: center;
}

.main-container{
    height: calc( 100vh - 100px);
}

header nav ul li{
    margin-right: 15px;
    text-align: center;
}

div.content img{
    width: calc( 100% / 7);
}


